#mainIconHolder {
    width: 50px;
    height: 50px;
}

.trigger {
    width: 50px;
    height: 50px;
}

.trigger span, .trigger span::before, .trigger span::after {
    width: 35px;
    height: 4px;
}

.trigger span {
    left: calc(50% - 17.5px);
}

#navigation header {
    text-align: left;
}

.nav-container h2 {
    font-size: 2.5rem;
}

.nav {
    padding: 0px;
    text-align: left;
}
.nav a {
    text-align: left;
    font-size: 2em;
}

h1#main-text {
    font-size: 3.236rem;
}

#modal button {
    width: 50px;
    height: 50px;
}

#modal button#close-modal span, #modal button#close-modal span::before, #modal button#close-modal span::after {
    width: 35px;
    height: 4px;
}

#modal button#close-modal span {
    left: calc(50% - 17px);
}