#modal {
	/* the modal is on top of the main content and covers the entire wieport*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	/* hide the modal window */
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .2s, visibility .2s;
	transition: opacity .2s, visibility .2s;
}

#modal.is-visible {
	/* show the modal window */
	opacity: 1;
	visibility: visible;
}

#modal .content {
	/* center modal content */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	/* content basic style */
	width: 90%;
	max-width: 1000px;
	padding: 2em;
	background-color: #FFF;
}

#modal h2 {
	margin-top: 0;
}

#modal p {
	line-height: 1.3;
}

#modal img {
    max-width: 100%;
}

/*#modal button {
    position: absolute;
    top: 0;
    right: 0;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	color: #FFF;
	background-color: lightgrey;
	padding: .5em .8em;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition: background .3s;
	transition: background .3s;
}*/

#modal button {
    position: absolute;
    top: 20px;
    right: 15px;
    background: black;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    
    /*image replace*/
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    
    cursor: pointer;
}

#modal button#close-modal span,
#modal button#close-modal span::before,
#modal button#close-modal span::after
{
    position: absolute;
    width: 44px;
    height: 4px;
    background: white;
    border-radius: 4px;
    
}

#modal button#close-modal span {
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    background: transparent;
}

#modal button#close-modal span::before,
#modal button#close-modal span::after {
    content: '';
    left: 0;
}

#modal button#close-modal span::before {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#modal button#close-modal span::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#modal button:hover {
	background-color: #333545;
}