/***********Responsive Font*************/ 
html{
    font-size:100%;
    font-weight: normal;
}
            p.foo{font-size:1rem;}
            p.bar{font-size:2rem;}
            p.gup{font-size:3rem;}
    
h1#main-text {
    font-size: 4.236rem;
    max-width: 800px;
}

.animHeaderText {
    font-size: 4.236rem;
    -webkit-animation-name: scaleFont;
    animation-name: scaleFont;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

h2.iamheader, h2#iamenough {
    font-size: 2.618rem;
}

h2#iamenough {
    -webkit-animation-name: iamfade;
    animation-name: iamfade;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

            p {
            	font-size: 1rem;
            	line-height: 1.618rem;
            	margin: 1rem 0;
            
            }

            @media screen and (max-width:320px)
            {
            p.foo{font-size:3rem;}
            p.bar{font-size:3rem;}
            p.gup{font-size:3rem;}
            }

            @media screen and (min-width:320px) and (max-width:768px)
            {
            p.foo{font-size:2rem;}
            p.bar{font-size:2rem;}
            p.gup{font-size:2rem;}
            }

            @media screen and (min-width:768px) and (max-width:1024px)
            {
            p.foo{font-size:1rem;}
            p.bar{font-size:1rem;}
            p.gup{font-size:1rem;}
            }

            @media screen and (min-width:1024px)
            {
            p.foo{font-size:1rem;}
            p.bar{font-size:1rem;}
            p.gup{font-size:1rem;}
            }


/********End***********/

/*richard taimalie title*/
#main-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mainIconHolder {
    position: relative;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 100px;
    z-index: 4;
}

.trigger {
    position: relative;
    background: black;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    
    /*image replace*/
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    
    cursor: pointer;
}

.trigger span,
.trigger span::before,
.trigger span::after
{
    position: absolute;
    width: 44px;
    height: 4px;
    background: white;
    border-radius: 4px;
    
}

.trigger span {
    top: calc(50% - 2px);
    left: calc(50% - 22px);
    -webkit-transition:-webkit-transform .3s;
    transition:-webkit-transform .3s;
    transition:transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.trigger span::before,
.trigger span::after {
    content: '';
    left: 0;
    -webkit-transition:width .3s, -webkit-transform .3s;
    transition:width .3s, -webkit-transform .3s;
    transition:transform .3s, width .3s;
    transition: transform .3s, width .3s, -webkit-transform .3s;
}

.trigger span::before {
    bottom: 12px;
}

.trigger span::after {
    top: 12px;
}

.navOpen .triggerClicked {
    
}

.navOpen .triggerClicked span {
    background: transparent;
}

.navOpen .triggerClicked span::before {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navOpen .triggerClicked span::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#navigation {
    
}

.nav-container {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 100%;
	width: 90%;
	max-width: 460px;
	padding: 2em 3.5em;
	background: #F3F3F3;
    text-align: right;
	overflow: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(-100%);
    -webkit-transition:-webkit-transform .5s;
    transition:-webkit-transform .5s;
    transition:transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.navOpen .nav-container {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-container h2 {
	font-size: 2.618rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #AAAAAA;
	margin: 1.5em 0;
}

.nav {
	list-style: none;
	padding: 0;
}

.nav a {
	display: block;
	padding: .4em 0;
	font-size: 40px;
	font-weight: bold;
	font-family: serif;
	text-decoration: none;
	color: #1F2B3D;
    text-transform: uppercase;
    text-align: right;
}

button:focus {outline:0;}

.main-holder {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    max-width: 690px;
    text-align: center;
    -webkit-animation: fadeIn 5s;
    animation: fadeIn 5s;
    
}

@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@-webkit-keyframes iamfade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes iamfade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#myTypingText {
    width: 395px;
    max-width: 395px;
    margin: 0 auto;
}

@-webkit-keyframes scaleFont {
    0% {font-size: 4.236rem;}
    50%{font-size: 5rem;}
    100%{font-size: 4.236rem;}
}

@keyframes scaleFont {
    0% {font-size: 4.236rem;}
    50%{font-size: 5rem;}
    100%{font-size: 4.236rem;}
}



/*This covers the broad spectrum of view port sizes*/

@media (max-width:600px) {

}
@media (min-width:600px) and (max-width:900px) {

}
@media (min-width:900px) and (max-width:1280px) {

}
@media (min-width:1280px) and (max-width:1440px) {

}
@media (min-width:1440px) {

}

@media (orientation: landscape) {

}
@media (orientation: portrait) {

}

/*END*/